body {
  min-width: 28rem;
  background-color: var(--red);
  background-image: radial-gradient(
    circle at 25% 25%,
    var(--red),
    var(--dark-red)
  );
  color: var(--white);
  padding: 1rem;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 16px;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
:root {
  --red: crimson;
  --dark-red: #7d1226;
  --pink: #ff8bcb;
  --light-gray: #4d4d4d;
  --blue: dodgerblue;
  --gray: #222326;
  --dark-gray: #0f1011;
  --white: snow;
}
button {
  line-height: 1;
  color: var(--white);
  padding: 0.5rem;
  font: inherit;
  border-radius: 0.25rem;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--white);
}
a:hover {
  text-decoration: underline;
  color: var(--blue);
}
.icon-button {
  width: 2rem;
}
.favicon {
  width: 1rem;
  height: 1rem;
}
.tab-summary {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
button {
  border: none;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
}
.neu {
  box-shadow: -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.07),
    0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12),
    -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07),
    0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12),
    inset 8rem 8rem 8rem rgba(0, 0, 0, 0.05),
    inset -8rem -8rem 8rem rgba(255, 255, 255, 0.05);
}
button.neu {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  border: rgba(255, 255, 255, 0.6) solid 1px;
  backdrop-filter: blur(1.5rem);
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: background-color, transform, border-color;
}

button.neu:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
button.neu:active {
  transform: translate(0, 2px);
  background-color: rgba(255, 255, 255, 0.3);
}
button.neu:focus {
  outline: none;
  border-color: var(--blue);
}
.tab-compilation-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.save-section {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}
.save-section > h1 {
  margin-right: auto;
}
.tab-compilation-summary {
  border-radius: 0.5rem;
  border: rgba(255, 255, 255, 0.6) solid 1px;
  padding: 0.5rem;
}
.tab-compilation-summary__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tab-compilation-summary__header > :first-child {
  margin-right: auto;
}
::-webkit-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: var(--dark-red);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}
.flush-input {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  appearance: none;
}
.flush-input::placeholder {
  color: #f1f1f180;
}
